<footer class="site-footer border-top mt-4 py-4 text-center" role="contentinfo">
    {% include info.html content="This project is something I'm doing in my spare time. This may not be updated much." %}
    {% include footer/content-pre.html %}
    {% include footer/content.html %}
    {% include footer/content-post.html %}
</footer>

{% include footer/scripts-pre.html %}
{% include footer/scripts.html %}
{% include footer/scripts-post.html %}

{% if site.analytics.google %}
    {% include google-analytics.html %}
{% endif %}
